<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<wicket:extend>
    <div class="row">
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li wicket:id="tabbedItemWidget"/>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <wicket:child/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</wicket:extend>
</body>
</html>
